<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Catalog</title>
    <style>
        #content {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        #content button {
            margin: 10px;
        }
    </style>
</head>
<body>
    <script>
        function addToCart(goodId) {
            fetch(`/cart?goodId=${goodId}`, { method: 'PUT' });
        }
    </script>

    <div id="content">
        <div th:if="${isRegistered} == true">
            <form action="/profile" method="get">
                <button type="submit">Profile</button>
            </form>
            <form action="auth/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
        <div th:if="${isAdmin} == true">
            <form action="/profile/list" method="get">
                <button type="submit">Users list</button>
            </form>
            <form action="/orders" method="get">
                <button type="submit">Orders list</button>
            </form>
        </div>
    </div>
    <form action="/catalog" method="get" th:object="${filters}">
        <div id="sortBy">
            Sort by:
            <input id="1" type="radio" value="1" name="sortBy" th:field="*{sortBy}">
            <label for="1">Name</label>
            <input id="2" type="radio" value="2" name="sortBy" th:field="*{sortBy}">
            <label for="2">Price high</label>
            <input id="3" type="radio" value="3" name="sortBy" th:field="*{sortBy}">
            <label for="3">Price low</label>
            <input id="4" type="radio" value="4" name="sortBy" th:field="*{sortBy}">
            <label for="4">Date</label>
        </div>
        <p>
            Choose <b>category</b>:
            <select name="category" id="category" th:field="*{categoryId}">
                <option th:each="category : ${categories}" th:value="${category.id}" th:utext="${category.title}"/>
            </select>
        </p>
        <p>
            Filter by <b>price</b>:
            <input type="number" id="from" name="from" value="From" th:field="*{priceFrom}">
            <input type="number" id="to" name="to" value="To" th:field="*{priceTo}">
        </p>
        <button type="submit">Filter</button>
    </form>
    <br>
    <div th:each="good : ${goods}">
        <h3><a th:href="@{/catalog/{id}(id=${good.getId()})}" th:text="${good.getTitle()}"></a>, <span th:text="${good.getPrice()}"></span> UAH </h3>
        <button th:onclick="'javascript:addToCart(\''+ ${good.getId()} +'\');'">Add to cart</button>
    </div>
    <span th:if="${#lists.size(goods) < 1}">
        <h3>No goods in category...</h3>
    </span>
</body>
</html>