<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><span th:text="${good.getTitle()}"></span> <span th:text="${good.getColor()}"></span></h1>
    <h3>Price: <span th:text="${good.getPrice()}"></span></h3>
    <div th:if="${isAdmin} == true">
        <form method="post" action="{/catalog/{id}(id=${good.getId()})}">
            <button type="submit">Delete Item</button>
        </form>
    </div>
</body>
</html>